a{
    text-decoration: none;
    color: black;
}


/* nav-bar-css */
.head {
    margin-top: 0;
    padding-top: 1.5rem;
}
.header{
    margin-bottom: 0rem!important;
}
.navbar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: .8rem 0;
    gap: .8rem;
}
/* .navbar>*{
    border: 1px solid red;
} */


.brang-logo-toggle-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.brand-logo>img{
    width: 7rem;
}
.toggle-close-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: none;
}
.toggle-close-btn>span{
    font-size: 2rem;
    font-weight: bold;
}
.toggle-open-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: none;
}
.toggle-open-btn>span{
    font-size: 2rem;
    font-weight: bold;
}


.nav-main-content{
    display: flex;
    flex-direction: column;
    gap: .8rem;
}
.menu-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .8rem;
}
.nav-menu{
    color: white;
    font-size: 1rem;
    font-weight: 500;
    border-bottom: 2px solid transparent;
}
.nav-menu:hover{
    border-bottom-color: white;
}

.be-host{
    color: white;
    border-top: 1px solid gray;
    padding-top: 1rem;
}
.nav-global{
    align-self: flex-start;
    display: flex;
    justify-content: center;
    align-items: center;
}
.global-img-white{
    height: 25px;
}
.login-register-profile{
    align-self: flex-start;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;

    background-color: white;
    border-radius: 25px;
    padding: 5px 10px;
}
.login-register-profile>img{
    height: 2rem;
}


/* for toggling the navbar */
.d-none{
    display: none;
}


@media(max-width: 1000px){
    .center-1{
        width: 93%;
    }
}


@media(min-width: 850px){
    .nav-container{
        display: block;
        flex: 1;
    }
    .brang-logo-toggle-btn>button{
        display: none;
    }

    .navbar{
        flex-direction: row;
        justify-content: space-between;
        gap: 1.5rem;
    }
    .nav-main-content{
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        flex: 1;
        gap: 1.5rem;
    }
    .menu-box{
        flex-direction: row;
        gap: 1.5rem;
        flex: 1;
        justify-content: center;
    }
    .be-host{
        border: none;
        border-top: none;
        padding-top: 0;
    }
    .nav-global{
        align-self: center;
    }
    .login-register-profile{
        align-self: center;
    }
}

@media(min-width: 1000px){
    .nav-container{
        display: block;
        flex: .9;
    }
}

@media(max-width: 850px){
    html{
        font-size: 12px;
    }
}